img {
    width: 400px;
}

body {
    text-align: center;
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 25px;

    background: rgb(43, 44, 44);
    color: rgb(255, 255, 255);
}